*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
.pagelogo img{
    padding:.5rem;
    width: 110px;
    height: auto;
}
header,
nav,
main,
#menu,
footer{
    max-width: 510px;
    margin:0 auto;
}
nav{
    border-bottom:3px solid rgba(255, 165, 0, .5);

}
.iconlogo img{
    width: 30px;
    height: auto;
   
}
.iconlogo img:hover{
  width: 28px;
 
}
.hedlogo{
    display: none;
}
.m-grd h2{
  padding:.5rem;
  background-color: rgba(130, 98, 98, 0.302);
}
header{
    background-color: rgba(130, 98, 98, 0.302);
    position:relative;
}

h1{
  max-width: 100%;
  text-align: center;
  padding:.2rem;
}
p{
  padding:3px;
}
#menu{
    display:block;
    font-size: 40px;
    font-weight: 900;
    padding:.5rem .7rem;
    text-decoration: none;
    color:#000;
    position:absolute;
    top:0;
    right:0;
}
#menu::before{
    content:"≡";
}

.navbody{
    list-style: none;
    margin: 0 auto;
    max-width: 500px;
    background-color: rgba(130, 98, 98, .5);
    
}

.navbody a{
    display: block;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: clamp(1rem, 2vmin, 1.5rem);
    color:black;
}

.active{
    background-color:rgba(130, 98, 98, .9);
}
.navbody a:hover{
    background-color:rgba(130, 98, 98, .9);
}
.navbody li{
    display: none;
}
/* .show here MAKE SURE .SHOW COMES AFTER DISPLAY NONE FOR LI, ELSE IT WILL NOT WORK*/
.show li{
    display: block; 
    
}
#menu.show::before{
    content:"X";
}



.hero img{
    width:100%;
    height:auto;
}

.hero a{
    text-decoration: none;
    display: block;
   /* border:2px solid rgba(255, 165, 0, .5);*/
    background-color:rgba(240, 205, 205,.5);
    border:2px solid rgba(240, 205, 105,.8);
    border-radius: .5rem;

    width: 200px;
    padding:.5rem;
    margin:1.3rem auto;
    font-size: 20px;
    color:#000;
    text-align: center;
  
 }
 
 section,footer{
  
    margin:1rem auto;
 }
 

  .section1{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 420px;
    border-radius: .5rem;
    margin: 1rem auto;
    color:#000;
    background-color: rgb(240, 248, 255);
    border:1px solid rgb(0, 0, 0,.1);;
  }
   .section1 div{
    margin:.5rem;
   }
   .sidLink,
   .locaStorage{
    width: 96%;
    height: auto;
    margin:0 auto;
    border-radius: .2rem;
   }
   .sidLink a,.locaStorage p{
    display: block;
    text-decoration: none;
    color:black;
    padding:3px;
    
   }
   .sidLink a{
    text-decoration: underline;
    font-size: 15px;
   }
   .sidLink a:hover{
    text-decoration: none;
    color:blue;
    font-size: 17px;
   }
   
   .section1 h2{
    grid-column: 1/3;
    text-align: center;
    max-width: 400px;
  }
.section1 img{
  width:96%;
  display: block;
  height:auto;
  margin:.5rem auto;
}

  .sport02{
    border:2px solid black;
    width: 200px;
    align-self:center;
  }
  .sport02 a{
    display: block;
    text-align: left;
    margin-left: 4rem;
  }
  .section2  h2, .section2 p{
    text-align: center;
  }
  .section2{
    width: 80%;
    padding:.5rem;
    margin:0 auto;
    
  }
  #greetings{
    font-size: 32px;
    color: rgb(14, 14, 122);
    font-variant: small-caps;
  }
  
  .section3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr 2fr;
    justify-items: center;
    
  }
  .section3 h2{
    grid-column: 1/2;
    text-align: center;
  }
  .section3 img{
    width: 350px;
    height: 250px;
  }
  .section3 figure{
   padding: 1rem;
  }
  .m-grd figure{
    border: 2px solid rgba(243, 214, 159, 0.5);
    background-color: rgba(185, 166, 129, 0.2);
    margin:1rem;
  }
  .m-grd figcaption{
    font-weight: bold;
    text-align: center;
    font-size: 18px;
  }
  .m-grd figure p{
    font-weight: 300;
    max-width: 335px;
    text-align: left;
    
  }
  .section004{
    display: flex;
    padding:.5rem;
    margin:.3rem;
    text-align: center;
  }
  .section004 a{
    border:2px solid rgba(255, 165, 0, .5);
    margin: 1rem auto;
    padding:1rem;
    text-decoration: none;
    color:#000;
    font-size: 20px;
  }
  .section004 a:hover{
    background-color: rgba(243, 214, 159, 0.5);
   
   }
  .section004 p {
    margin: 1rem auto;
    padding:1rem;
    border: none;
    font-size: 25px;
    font-weight: bold;
  }

  
  .f-getdate p {
    text-align: center; 
  }
  .f-getdate{
    margin-top: 1rem;
  }
  
  .footlogo{
    margin-top:1rem;
  }
  .ref{
    margin-top: .5rem;
    padding-left: .5rem;
  }
  
  footer{
    padding:1rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: rgba(130, 98, 98, .1);
    color:#000;
    border-top: solid  2px rgba(240, 205, 105,.8);
  }
  .ref a{
    text-decoration: none;
    color: black;
    display: block;
    
  }
    
  
  .ref a:hover{
    text-decoration: underline;
    color:blue;
  }

  /* form page join.hmtl*/
  .joinChannel {
    width:100%;
    max-width: 490px;
    margin:1.5rem auto;  
    background-color: rgb(240, 248, 255);
    border:1px solid rgb(0, 0, 0,.1);;
  }
  



  .joinChannel label{
   display:block;
   font-weight: bold;
   padding:.5rem;
   font-size: 18px;
  }

  .joinChannel [type=text],
  [type=email],
  [type=tel]

  {
   
    display: block;
    padding:.5rem;
    margin-bottom:1rem;
    width: 390px;
  }
.joinChannel [type="textarea"]{
    
    display: block;
    padding:.5rem;
    margin-bottom:1rem;
    max-width: 390px;
   
}
.joinChannel [type="submit"]{
  padding:1rem;
  width: 450px;
  max-width: 96%;
  margin-top:2rem;
  margin-bottom:.5rem;
  margin-left:1.2rem;
  margin-right:2%;
}


.fmain aside{
  background-color: rgba(130, 98, 98, 0.302);
  max-width: 490px;
  padding:.7rem;
  margin:0 auto;
 
}
.fmain aside li{
 margin-top: .6rem;
 list-style-type: none;
}
.fmain aside span{
  color:red;
  font-weight: bold;
}

/* confirmation page */

.confirmationMain
  h1{
    max-width: 90%;
    border-bottom: none;
    text-align: center;
    padding:.2rem;
    margin: 1rem auto;
  }
.confirmationMain p{
 max-width: 460px;

 margin: 1rem auto;
 padding:1rem;
}