@media screen and (min-width: 1200px){
    header,
    nav,
    main,
    #menu,
    footer{
        max-width: 100%;
    }
.m-grd{
  max-width: 90%;
  margin: 0 auto;

}
    h1{
      text-align: center;
      padding:.7rem;
       font-size: 45px;
       position:relative;
       left:9rem;
       width:90%;
       border-bottom: 2px solid rgba(255, 165, 0, .1);
    }

    header{
    position:relative;
    }

    #greetings{
      font-size: 48px;
      color: rgb(14, 14, 122);
      font-variant: small-caps;
      
    }
    
    .hedlogo{
        display: flex;
        position: absolute;
        top:2rem;
        right:20%; 
    }

   .h-call {
    border:2px solid rgba(255, 165, 0, .5);
    padding:1rem;
    font-size: 20px;
    color:#000;
    margin-left: 2rem;
    border-radius: .4rem;
   }

   .h-call:hover{
    background-color: rgba(243, 214, 159, 0.5);
   }

  .hedlogo img{
        margin:.3rem; 
  }

  .pagelogo{
        position:relative;
        left:28%;
   }

    nav
    {
        max-width: 100%;
        margin:0 auto;
        background-color:rgba(130, 98, 98, .9);
        
    }

    .navbody{
        display: flex;
        max-width: 650px;
        
       }

     .navbody li{
         display:block;
         flex:1 1 100%;
       }
    .navbody a{
        text-align: center;
        color:white;
        }

 .active{
          background-color:rgba(3, 61, 6, 0.5);
      }

 .navbody a:hover{
        background-color:rgba(130, 98, 98, .9);
        color:#000;
       
    }

    #menu{
        display:none;
     } 

     .h-call{
        text-decoration: none;
        padding:.5rem;
     }

     .hero{
        position:relative;
     }

    .hero a{
        width: 250px;
       position:absolute;
       top:40%; 
       left:43%;
       padding:1rem;
       
    }

    .hero a:hover{
      background-color:rgba(240, 205, 205,.8);
    }
     .m-grd{
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows:.4fr 2.5fr .3fr;
  
     } 
     .milanh2{
      font-size: 36px;
     
     }
 
     .section1{
        grid-column: 1;
        grid-row:1/4;
        grid-template-columns: 1fr;
        
        margin:1rem;
       
        }
        .section1{
          display: grid;
          grid-template-columns: 1fr;
          gap:0;
        }
      
     .section2{
      grid-row:1 ;
     }

     .section3{
    grid-column: 2/3;
    grid-row: 2;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:.1fr 2fr;
   
    

     }  

     .section3 h2{
        grid-column: 1/4;
        width: 80%;
        padding:.3rem;
     } 

     .section3 img{
        width: 330px;
        
      }
      
  .section3 img:hover{
    width: 335px;
    transition: width 1s;
    border-bottom: 5px solid rgba(147, 243, 171, 0.8);
  }
      .section004{
        max-width: 70%;
        margin: 0 auto;
      }
      .f-additional{
        display: block;
      }
      
      footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr .5fr;
        text-align: center;
        
      }
      /* join page */
      .fmain main{
        margin-top:.5rem;
        max-width: 1000px;
        display: grid;
        grid-template-columns: 1fr 300px;
        border:1px solid rgba(214, 185, 185, 0.9);
        padding:.5rem;
      }
      .fmain aside{
        margin-top: 1.2rem;
        max-height: max-content;
      }
      /* confirmation page */
      .confirmationMain main{
        max-width: 70%;
        background-color: aliceblue;
       }
       .confirmationMain h1{
    
    border-bottom: none;
    text-align: center;
    padding:.2rem;
  }

  .confirmationMain p{
    max-width: 90%;
    border: none;
    margin: 1rem auto;
    padding:1rem;
    font-size: 19px;
   }

}