*{
    box-sizing: border-box;
    padding:0; /* set the padding and margin to be zero, this ensure uniform padding and margin later o*/
    margin:0;
}
p, nav{
    font-family: 'Arimo', 'Serif';
    font-size: 18px;
}
header,
main,
nav,
footer{
    max-width: 540px;
    margin:0 auto;
  
}

h1,h2{
    font-family: 'Roboto', 'Serif';  
}
h2{
    background-color: rgba(0,90,0,.3);
    padding:.5rem;
    text-align: center;   
}

h1{
        text-align: center;
        border-bottom: 1px solid rgba(0,90,0,.5);
        margin-top: .4rem;
        margin-bottom: .4rem;
      
}


header{
    background-color: rgba(0,90,0,.3);
    color:rgb(88, 48, 2);
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding:1rem; 
    
}
.name{
   padding:1rem;
   font-family: 'Roboto', 'Serif';
   font-weight: bolder;
   font-size: 40px;
   align-self: center;
   
}
.profile{
    border:2px solid red;
}
header img{
    width: 120px;
    height: 150px;
   
}

nav{
    background-color: rgb(88, 48, 2);
    padding:.5rem; 
    margin-bottom:1rem;
}

nav ul {
   list-style-type: none; 
  
}

nav ul li a {
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    display: block;
    padding:.6rem;
    text-align: center;
   
}

nav ul li a:hover{
    background-color: bisque;
    color:black;
}
.active{
    background-color: black;
}
.card{
    border:1px solid rgba(0,90,0,.5);
    margin:1rem;
    padding:.5rem;
}
.card ul li{
    list-style-type: none;
    
}
footer{
    background-color: rgb(48, 44, 44);
    color:white;
    padding:2rem;
    text-align: center;
}
#lastModified{
  color:yellow;
}