*{
    box-sizing: border-box;
    padding:0; /* set the padding and margin to be zero, this ensure uniform padding and margin later o*/
    margin:0;
}
p, nav{
    font-family: 'Arimo', 'Serif';
    font-size: 18px;
}
header,
main,
nav,
#menu,
footer{
    max-width: 460px;
    margin:0 auto;
}


h2{
    font-family: 'Roboto', 'Serif'; 
    font-size: 17px;  
   
}
h1{
    font-family: 'Roboto', 'Serif'; 
    font-size: 22px;
}
h2{
    background-color: rgba(0,90,0,.3);
    padding:.5rem;
    text-align: center;   
}

h1{
        text-align: center;
        border-bottom: 1px solid rgba(0,90,0,.5);
        margin-top: 1px;
        margin-bottom: .4rem;
      
}


header{
    background-color: rgba(0,90,0,.3);
    color:rgb(88, 48, 2);
    position:relative;
    display: grid;
    gap:0;
    grid-template-columns:25% 70% 5%;
    padding:1rem; 
    justify-items: center;
}

#mode{
    height:40px;
    width: 40px;
   /* align-self: center;*/
    position:absolute;
    top:1rem;
    right: .5rem;
    cursor:pointer;
    border:2px solid yellow;
}

.name{
   padding:1rem;
   font-family: 'Roboto', 'Serif';
   font-weight: bolder;
   font-size: 20px;
   align-self: center;
   justify-self: center;
   border: 2px solid red;
   
}

header img{
    width: 120px;
    height: 150px;
    border:2px solid blue;
    
   
}
#menu{
    display:block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem  .75rem;
    background-color: rgba(45, 80, 35, 0.6);
    color:black;
}
#menu::before{
    content:"≡";
    /*color:white;*/
}
/*
#menu.show ~ nav .navbody li {
    display: block;
}*/

nav{
    background-color: rgb(189, 218, 243);
}

.navbody{
    list-style: none;
    margin:0 auto;
    max-width: 760px;
}
.navbody li{
    display: none;
}
.navbody a{
    display:block;
    padding:.5rem;
    text-align: center;
    text-decoration: none;
    color:black;
    font-weight: 700;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}


.navbody a:hover {
   
	background-color: rgba(114, 138, 158, 0.3);
}
.active{
    background-color:  rgba(114, 138, 158, 0.3);
}
.show li{
    display: block;
}
#menu.show::before{
    content:"X";
}
.card{
    border:1px solid rgba(0,90,0,.5);
    margin:1rem;
    padding:.5rem;
}
.card ul li{
    list-style-type: none;
    
}
footer{
    background-color: rgb(48, 44, 44);
    color:white;
    padding:2rem;
    text-align: center;
}
#lastModified{
  color:yellow;
}