@media screen and (min-width: 890px){
    header,
    footer{
        max-width: 100%;
    }
    main{
        max-width: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 1fr;
    }
  
    nav
    {
        max-width: 70%;
        margin:0 auto;
    }
   
  
     
    h1{
        grid-row:1;
        grid-column: 1/3;
        
    }
 
     

   .navbody{
    display: flex;
   }
   .navbody li{
     display:block;
     flex:1 1 100%;
   }
    .navbody a{
        text-align: center;
    }
    #menu{
        display:none;
    }
}

