@media screen and (min-width: 1200px){
    header,
    nav,
    footer{
        max-width: 100%;
    }
    main{
        max-width: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 1fr;
    }
    header img{
      
       justify-self: end;
       width: 150px;
       height: 170px;
    }

    header img{
        grid-template-columns: 1fr 3fr;
        
     }
 
    h1{
        grid-row:1;
        grid-column: 1/3;
        
    }
    .name{
        margin-left: 2rem;
        font-size: 40px;
     }
     

    nav ul{
        display: flex;
        justify-content: center;
        
    }
    nav ul li{
        margin-left:5rem;
        margin-right:5rem;
    }
   
    
    
}

